@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&family=Poppins:wght@600&display=swap');

body{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    background: linear-gradient(
        90deg,
        rgba(255, 133, 133, 1) 0%,
        rgba(227, 84, 95, 1) 100%
    );
    font-family: 'Oxanium', Arial;
}

#pontuacaobox{
    position: absolute;
    top: 30px;
    right: 530px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#tela{
    border-width: 15px;
    border-style: solid;
    border-color: black;
}

#comojogarI img{
    height: 140px;
    position: absolute;
    left: 10px;
    bottom: 250px;
}

.teclas {
    position: absolute;
    left: 130px;
    bottom: 380px;
    padding: 10px;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
}
